.wrapper {
    padding-top: 100px;
}

.reg {
    display: flex;
    flex-direction: column;
    margin: 10 -5px;
    margin-bottom: 10px;

}

.item {
  flex: 1 1 auto;
  margin: 0 5px;
  height: 50px;
  width: 500px;

}

.carousel-item {
    height: 600px;
}

.product-image-item {

}

.info-item {
    height: 100px;
}

.product-item {
    margin-top: 50px;
}

