.wrapper {
    padding-top: 100px;
}


.col-lg-6 {
    padding-bottom: 30px;
}

.modal-content a{
    text-decoration: none;
    color: black;
}


.item {
  display:flex;
  margin-top:5%;
  height: 50px;
  width: 400px;
  align-items: center;
}
.item input[type=text], input[type=email],input[type=password] {
    width: 400px;
    padding: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    margin-left: 5%;
}
input[type=button] {
    cursor: pointer;
}
#div_id_username input{
    width: 400px;
    padding: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    margin-left: 5%;
}
.my_radio {
}

.carousel-item {
    height: 600px;
}

.info_item_name{
    margin-top: 15px;
}

.info_item_price {
    margin-top: 15px;
}

.info_item_btn {
    margin-top: 20px;
    margin-bottom: 20px;

}

.info_image_item img {
    margin-top: 20px;
    max-height: 150px;

}


.info_item_img {
    margin-bottom: 20px;
}
.info-item {
    height: 50px;
}

.product-item, .product-item_favorite{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10 -5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    transition: transform .2s;

}
.col_product_item {
    display:flex;
    justify-content: space-around;

}

.product-item:hover, .product-item_favorite:hover{
    transform: scale(1.1);

}
img {
    border-radius: 5px 5px 0 0;
}

.product-item a, product-item_favorite a{
    text-decoration: none;
    color: black;
    cursor: pointer !important;
}
button:hover, a:hover {
    opacity: 0.7;
}
.info_item {
    flex: 1 1 auto;
    margin: 0 5px;
}
.inf_p{
    height:400px;
}


.inf_add {
    background-color: black;
    color: white;
    position: absolute;
    top: 70px;
    right: -300px;
    border-radius: 6px;
    text-align: center;

    animation-name: inf_add;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: reverse;

}
.navbar {
    background-color:black;
    color: white;
}
.navbar a {
    color: white;
}

@keyframes inf_add{
    0% {
        right: -100px;
    }

    100% {
        right: 100px;
    }
}

.test {
    margin-top: 10px;
    color:white;
    text-align: center;
}
.table {
    table-layout: fixed
    border-spacing:0px;
    text-align: center;
    border-collapse: collapse;
    border: 0px;
    font-size:20px;
    width:75%;
    margin-left: 10%;
}
.table a {
    text-shadow: none;
    color:black;
}
.table tr, .table td, .table th  {
    border: 0px;
    vertical-align:middle;

}
.table td {
}
.product {
    text-align: center;
}
.cart_tab {
    display:flex;
}
a.animated-button.thar-one {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}
a.animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
a.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.add {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.add:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}
a.animated-button.add:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
a.animated-button.add:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

.add {
    border-radius: 30px;
    background-color: black;
}
.add:hover {
    border-radius: 30px;
    background-color: white;
    color:black;
}

.del_rew {
    width: 20px;
    height: 20px;
    margin-left: 80%;
    margin-top:3%;
    border:none;
    font-size: 100%;
    text-align: center;
    background-color:white;

}

.item-check {
   margin: 0 5px;
}
.item-check-box {
    margin: 5px 20px;
}
.order-info {
    text-align: center;
    margin-top: 50px;
}

.reg-o {
    margin-top: 50px;
}
.title-page {
    text-align: center;
}

.item-but {
	cursor: pointer;
	border: 1px solid #cecece;
	border-radius: 12px;
	text-align: center;
	padding: 8px 14px;
	width: 400px;
	background-color:black;
    color:#fff;
}

.item-but {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}
.item-but {
	outline:none;
}
* {
  box-sizing:border-box;

}
.row {
    auto-margin;
}
textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}
.one {
  margin-top:20px;
  text-align: center;

}
.one h1 {
  font-family: Roboto;
  position: relative;
  color: black;

}

body{
    font-family: Roboto;
    background-color: white;
}
.t_cart {
    display:flex;
    justify-content: space-around;

}
.image-zoom:nth-child(1) {
    width: 100%
}
.image-zoom {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  height: max-content;
  position: relative;
  cursor: zoom-in;
}

.image-zoom img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.image-zoom-block {
  display: none;
  width: 30%;
  height: 30%;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: 600%;
  background-position: var(--x) var(--y);
  position: absolute;
  left: var(--x);
  top: var(--y);
  transform:
    translateX(calc(var(--x) * -1))
    translateY(calc(var(--y) * -1));
  z-index: 2;
  pointer-events: none;
}

.image-zoom.-active {
  cursor: zoom-out;
}

.image-zoom.-enter .image-zoom-block {
  display: block;
}
._rew, .answer_rew {

    text-align: center;
    margin-top: 5%;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

.add_rew {
    background-color: black;
    color: white;
    border-radius: 15px;
    width:100%;
    pointer:cursor;
}
.hide-element {
    display: none !important;
}
.hide_rew, .hide_answer_rew, .filter_cat, .show-more-btn, .rec_hide {
    background-color: black;
    color: white;
    border-radius: 15px;
    border:none;
    margin-top:20px;
    pointer:cursor !important;
}

#goTop {
    text-align: center;
    font-size:50px;
}
._rew_new {
    border: 1px solid black;
    text-align: center;
    margin-top: 5%;
    border-radius:15px;
    background-color:white;
}
.cart_but_zakaz{
    cursor: pointer;
	border: 1px solid #cecece;
	border-radius: 12px;
	text-align: center;
	padding: 8px 14px;
	width: 400px;
	background-color:green;
    color:white;
    margin-bottom: 10%;
    text-decoration: none;
    outline: none;
    color:white;
    font-size:20px;
}
.cart_but_zakaz:hover{
    text-decoration: none;
    color:white;
}
.cart_wrp {
    margin-bottom: 30px;
    text-align: center;
}

.focus {
    border: 2px solid black;
    width: 250px;
    height:auto;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 10;
    top: 65px;
    border-radius: 6px;
    text-align: center;
    display:none;
    pointer-events: none;
}

.min_pls {
    border:none;
    width:40px;
    height:40px;
    font-weight:700;
    text-align: center;
    border-radius:100%;
    cursor: pointer !important;


}
.minus {
    background-color:black;
    color:white;
}

.plus {
    background-color:black;
    color:white;
}



.nav-link {
    cursor: pointer;

}
.catalog_category:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}
.container-focus {
    display:flex;
    justify-content: space-around;
    width:150px;
}

.nav-link:hover {
  transform: scale(1.2);
  }
.goods-img-min {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;



}
.cart_info_nav {
    align-items: center;
    display:flex;

}
.img_min {
    border: 2px solid black;
    border-radius:5px;
    width:200px;
    height:110px;
    text-align:center;
    margin-left:10px;
    cursor:pointer;

}
.btn-success {
    border-color:white;
}
.btn-success:hover {
    border-color:black;

}
.rating {
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating_item {
    font-size:40px;
    color:grey;
    cursor: pointer;
    transition: .2s;
}


.rating_item:hover,
.rating_item:hover ~ .rating_item {
    color:orange;
}
.rating[data-total-value='1'] .rating_item:nth-child(n+5),
.rating[data-total-value='2'] .rating_item:nth-child(n+4),
.rating[data-total-value='3'] .rating_item:nth-child(n+3),
.rating[data-total-value='4'] .rating_item:nth-child(n+2),
.rating[data-total-value='5'] .rating_item:nth-child(n+1) {
    color: orange;
}

.rating_p {
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.rating_item_p {
    font-size:30px;
    color:grey;
}

.rating_p[data-total-value='1'] .rating_item_p:nth-child(n+5),
.rating_p[data-total-value='2'] .rating_item_p:nth-child(n+4),
.rating_p[data-total-value='3'] .rating_item_p:nth-child(n+3),
.rating_p[data-total-value='4'] .rating_item_p:nth-child(n+2),
.rating_p[data-total-value='5'] .rating_item_p:nth-child(n+1) {
    color: orange;
}
.rating_stat {
    margin-top:10px;
    margin-right: 40%;
}
.input_login{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.answer_rew {
    margin-left:100px;
}
.del {
    font-size: 30px;
    background-color:white;
    color:red;
    border:none;
    cursor: pointer;
}
.head_cart {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.cart_clear_but, .login_but, .reg_but {
    background-color:black;
    border:none;
    cursor: pointer;
    color:white;
    border-radius:10px;
    text-align:center;
}
.cart_clear_but {
    background-color:DarkRed;
    font-size:20px;
}
.logo{
    border: 4px solid black;
    border-radius: 30px;
    width: 200px;
    height:55px;
}
.login_but {
    height: 50px;
    width: 100px;
    font-size: x-large;

}
.reg_but {
    height: 50px;
    width: 200px;
    font-size: x-large;

}


.favorite_but_add {
    background-color:black;
    border:none;
    cursor: pointer;
    color:white;
    border-radius:30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid white;


}
.favorite_but_add:hover {
    background-color:white;
    color:black;
    border: 1px solid grey;
    transform: scale(1.2);
}
.favorites_div {
    margin-bottom:10%;
}

.add_but{
    background-color:black;
    border:none;
    cursor: pointer;
    color:white;
    border-radius:30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;

}
.add_but:hover {
    background-color:white;
    color:black;
    border:1px solid black;

}

.in_but {
    background-color:white;
    border:1px solid grey;
    cursor: pointer;
    color:black;
    border-radius:30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.catalog_category {
    display:flex;
    justify-content: center;
    text-align: center;
}

.item_favorites {
    margin-bottom:5%;
}
.favorite_but_del {
    margin-top:20px;
    background-color:black;
    cursor: pointer;
    color:white;
    border-radius:30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid white;
}
.fav_tr {
    align-items: center;
}
.favorite_but_del:hover {
    background-color:white;
    color:black;
    border: 1px solid grey;
    transform: scale(1.2);
}
.info_item_rating {
    display:flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color:black;
    color: white;
    margin-top: 10%;
}
footer a {
    color: white;
}

a {
    text-decoration: none;
}


.mypagination {
    display:flex;
    justify-content: center;
    align-items: center
}

.count_rows {
    margin-left: 38%;
    text-align: center;
    margin-top:20%;

}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    padding-left: 0; /* Сдвигаем список влево */
}

.product_fav {
    display:flex;
    flex-direction: column;f
}
#id_filter_form_val {
    align-items: center;
    font-size:20px;
}

.filter_cat {
    cursor: pointer !important;
    font-size:20px;
}
.show-more-btn {
    cursor:pointer;
}

.recomend_product a {
    text-decoration: none;
    color: black;
    font-size:20px;

}
.recomend_product {
    display:flex;
}

.recomend_body {
    margin-top: 1%;
    text-align: center;

}
.product_rec {
    text-align: center;
    margin-top:20px;
}
.rec_hide {
    cursor:pointer;
    border-radius: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-top:0px;
}
.modal_rec {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_rec-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: black;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.rec_title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.block_rec_title {
    text-align: center;
}