<!DOCTYPE html>
{% load static %}
{% load auth_extras %}
<html>
<head>
    <meta charset="utf-8">
<!--    <meta http-equiv="refresh" content="1">-->
    <title>{% block title %}Магазин Зэха{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/basess.css' %}">
</head>
<body>

<div class="wrapper">
        <div class="wrapper-content">
            {% include 'navbar.html' %}
<!--        {% if user.is_authenticated %}-->
<!--            <p>hi {{user.email}}</p>-->
<!--        {% endif %}-->
            {% block content %}
            {% endblock content %}
        </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Категории товаров</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for category in category_list %}
                <div class="col-lg-4 catalog_category">
                    <a class="text-decoration-none " href="{% url 'category_detail' category.pk %}">
                        <img src="{{ category.categoryimage_set.all.0.image.url }}" height="100" width="150">
                        <h5>{{ category.name }}</h5>
                     </a>
                </div>
                {%endfor%}
             </div>
          </div>
        </div>
      </div>
    </div>
    <div id="goTop" style="position: fixed; right: 50px; bottom: 50px;  color: black; width: 100px; height:100px; display: none; cursor:pointer;">&#8679;</div>
</div>

<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--        <span class="sr-only">Previous</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--        <span class="sr-only">Next</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
     {% include 'footer.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/base1.js' %}"></script>
    <script src="{% static 'js/my_jss.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
