{% extends "_base.html" %}
{% load static %}
{% block title %}
{{category.name}}
{% endblock %}
{% block content %}
<h1 class = "title-page">{{category.name}}</h1>
<div class = "container text-center">
    {%if products%}
    <div class="row">
        <div class="col-lg-4">
            <form id ="form_filter" method="POST" enctype='multipart/form-data'>
                <span style="color:red">{{error}}</span>
                    <div>
                        {{form.filter_form_val}}
                    </div>
                    {% csrf_token %}
                    <div>
                        <button class = "filter_cat" data-cat_id ="{{ category.id }}">Сортировать</button>
                    </div>
            </form>
        </div>
        <div class="col-lg-4 product_in_cat">
            {{ forloop.counter }}
            {% for product in products %}
                {% if forloop.counter < 3%}
                    <div class="inf_p">
                {%else%}
                    <div class="inf_p" style="display: none;">
                {%endif%}
                    <div class="product-item">
                    <a class="text-decoration-none" href="{% url 'product_detail' product.id product.slug %}">
                    <div class="info_image_item info_item">
                        <img class ="block{{product.id}}" src="/media/{{product.get_image_main}}"  height="150" width="200">
                    </div>
                        <div class = "info_item_name">
                            {%if product.active%}
                              <h4>
                                  {{ product.name }}
                              </h4>
                            {%else%}
                              <h4 style="color:red;">
                               {{ product.name }}(не активен)
                              </h4>
                            {%endif%}
                        </div>
                        <div class = "info_item_price">
                            <span id = "product_price{{product.id}}">{{ product.price }}</span> руб.
                        </div>
                        <div class = "info_item_rating">
                            <div class="rating_p" data-total-value="{{product.get_avg_rating}}">
                                <div class="rating_item_p" data-item-value="5">★</div>
                                <div class="rating_item_p" data-item-value="4">★</div>
                                <div class="rating_item_p" data-item-value="3">★</div>
                                <div class="rating_item_p" data-item-value="2">★</div>
                                <div class="rating_item_p" data-item-value="1">★</div>
                            </div>
                            <div>
                                ({{product.get_count_rating}})
                            </div>
                        </div></a>
                        <div class ="info_item_btn">
                            {% if product.get_id in cart.cart %}
                                <a href="{% url 'cart_detail' %}" class="in_but">в корзине</a>
                            {% else %}
                                <button data-change="add" id="add_basket{{ product.id }}" class="change add_but add"
                                    data-product_id = "{{ product.id }}"
                                    data-name ="{{ product.name }}"
                                    data-price ="{{ product.price }}">Купить
                                </button>
                                <a href="{% url 'cart_detail' %}" id="in_basket{{ product.id }}" class="in_but add" hidden>в корзине</a>
                             {%endif%}
                            {% if user.is_authenticated %}
                                {% if product.id in fav_product%}
                                    <input type="button" value="&#10004;" class="favorite_but favorite_but_add"
                                           data-product_id = "{{ product.id }}"
                                           data-change_favorites="add">
                                {%else%}
                                    <input type="button" value="&#10084;" class="favorite_but favorite_but_add"
                                           data-product_id = "{{ product.id }}"
                                           data-change_favorites="add">
                                {%endif%}
                            {%else%}
                                    <a href="{% url 'account_login' %}" class="favorite_but_login">&#10084;</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                {% endfor %}
                 {% if products|length > 1 %}
                 <button class="show-more-btn">
                     Показать еще
                 </button>
                 {%endif%}
<!--             <nav aria-label="Page navigation example">-->
<!--                    <ul class="mypagination">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                            <li><a href="?page=1">Начало</a></li>-->
<!--                            <li><a href="?page={{ page_obj.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>-->
<!--                            </svg></a></li>-->
<!--                        {% endif %}-->

<!--                        <h5 class="">-->
<!--                            стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.-->
<!--                        </h5>-->

<!--                        {% if page_obj.has_next %}-->
<!--                         <li><a href="?page={{ page_obj.next_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>-->
<!--                </svg></a></li>-->
<!--                        <li><a href="?page={{ page_obj.paginator.num_pages }}">Конец</a></li>-->
<!--                        {% endif %}-->
<!--                    </ul>-->
<!--            </nav>-->
            </div>
        </div>
    {%else%}
        <p>Пустая категория</p>
    {%endif%}
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    jQuery(document).ready(function($){
        $(".show-more-btn").click(function(e){
            $(".inf_p:hidden").slice(0,2).fadeIn();
            if ($(".inf_p:hidden").length < 1) $(this).fadeOut();
        })
    })
</script>
{% endblock %}
