{% extends '_base.html' %}
{% block title %}Категории{% endblock title %}
{% block content %}

<div class="container">
    <div class="font-italic">
        <h1>Каталог товаров</h1>
    </div>
    <div class="row">
        {% for category in category_list %}
        <div class="col-lg-4" >
            <img src="{{ category.CategoryImage_set.all.0.image.url }}" class="img-responsive" height="450" width="400">
            <h5><a class="category_link" href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></h5>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock content %}