{% extends "_base.html" %}

{% block title %}Заказ{% endblock %}

{% block content %}
    <h1>Подтверждение заказа</h1>
    <div class="order-info">
        <h3>Ваш заказ:</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} шт. {{ item.product.name }}
                    <span>{{ item.total_price }} руб.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Сумма: {{ cart.get_total_price }} руб.</p>
    </div>

    <form action="." method="post" class="">
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.address }}
        {{ form.postal_code }}
        {{ form.city }}
        {{ form.payment_method }}
        {% csrf_token %}
        <p><input type="submit" value="Подтвердить"></p>
    </form>
{% endblock %}