{% extends "_base.html" %}

{% block title %}Заказ{% endblock %}

{% block content %}
<h1 class = "title-page">Подтверждение заказа</h1>
<div class="container">
    <div class="row">
            {% with total_items=cart|length %}
              {% if cart|length > 0 %}
    <div class="col-lg-6 reg-o">
        <h3>Форма клиента</h3>
            <form action="." method="post" class="">
                <div class = "reg">
                    <div class="item">
                        {{form.first_name.label}}
                        {{ form.first_name }}
                    </div>
                    <div class="item">
                        {{form.last_name.label}}
                        {{ form.last_name }}
                    </div>
                    <div class="item">
                        {{form.email.label}}
                        {{ form.email }}
                    </div>
                    <div class="item">
                        {{form.address.label}}
                        {{ form.address }}
                    </div>
                    <div class="item">
                        {{form.city.label}}
                        {{ form.city }}
                     </div>
                    <div class="item">
                        {{ form.payment_method.label}}
                        {{ form.payment_method }}
                    </div>

                        <div class="item">
                            {{ form.delivery_method.label}}
                            {{ form.delivery_method }}
                        </div>
                        <span>Курьером стоимость - 300 рублей</span>
                    {% csrf_token %}

                </div>
                <div class="order_item-but">
                    <input class="item-but" type="submit" onclick="document.body.style.cursor='wait'; return true;" value="Подтвердить">
                </div>
            </form>
        </div>
        <div class="order-info col-lg-6">
            <h3>Товары в заказе</h3>
            <table class="table">
        <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Кол-во</th>
                <th scope="col" >Цена товара</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>
                    {{ item.product.name }}
                </td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    {{ item.price }} руб.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            <div class="t_cart">
            <h3>Сумма заказа:</h3>
            <h3><span>{{ cart.get_total_price }}</span> руб.</h3>
         </div>
<!--                    {% for item in cart %}-->
<!--                        <h5>Название: {{ item.product.name }}</h5>-->
<!--                        <h5>Кол-во: {{ item.quantity }} шт.</h5>-->
<!--                        <h5>Стоимость: {{ item.total_price }} руб.</h5>-->
<!--                    {% endfor %}-->
<!--                    <h5>Сумма: </h5>-->
            </div>
        {% else %}
            <p> Вы ничего не добавили в корзину, вернитесь в магазин для добавления товара!!!</p>
        {% endif %}
{% endwith %}
        </div>
        </div>
    <script>
<!--        const btn_form = document.querySelector('.item-but');-->
<!--        btn_form.addEventListener('click', () => {-->
<!--            btn_form.style.display = 'none';-->
<!--        });-->
    </script>
{% endblock %}