{% extends "_base.html" %}
{% load static %}
{% block title %}Ваша корзина{% endblock %}
{% block content %}
<h1>Ваша корзина покупок</h1>
{% csrf_token %}
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Кол-во</th>
                <th scope="col" >Цена товара</th>
                <th scope="col" >Сумма</th>
                <th scope="col" >удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr class = 'product' id="{{product.id}}">
                    <td><a class="badge badge-secondary" href="{% url 'product_detail' product.pk product.slug %}">{{ product.name }}</a></td>
                        <td id="quantity">
                        <button class="change btn btn-outline-dark minus" data-product_id = "{{ product.id }}"
                                data-change = "minus">-</button>
                            <span id = "quantity{{product.id}}">{{ item.quantity }}</span>
                        <button class="change btn btn-outline-dark plus" data-product_id = "{{ product.id }}"
                                data-change = "plus">+</button>
                        </td>
                    <td id = "item_price{{product.id}}">{{ item.price }} руб.</td>
                    <td id ="total_price{{product.id}}">{{ item.total_price }} руб.</td>
                    <td><button class="change btn btn-danger del" data-product_id = "{{ product.id }}"
                                data-change = "del">удалить</button>
                    </td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="total">
                <td><h3>Сумма заказа:</h3></td>
                <td colspan="4"></td>
                <td><h3><span class = 'total_sum'>{{ cart.get_total_price }}</span> руб.</h3></td>
            </tr>
        </tbody>
    </table>
    <a href="{%url 'order_create'%}" class="btn btn-success">Оформить заказ</a>
{% endblock %}

