{% extends '_base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}
{%block content%}
<!-- <h1>Главная</h1>-->
<!--  {% if user.is_authenticated %}-->
<!--    Hi {{ user.email }}!-->
<!--  {% else %}-->
<!--    <p>Вы не авторизованы</p>-->
<!--  {% endif %}-->
<!--    <div class="section-top">-->
<!--        <img src="{% static 'images/my_bg.jpg' %}" class="img-responsive">-->
<!--    </div>-->
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="/shop/category/1/gadzhety/">
                      <img class="d-block w-100" src="https://img.freepik.com/foto-gratis/personas-que-utilizan-tecnologia-inteligente-dispositivos-digitales-efecto-exposicion-doble-color_53876-104899.jpg?w=1060&t=st=1658660335~exp=1658660935~hmac=2ccd99cc61a422b7dcc31b60e2d5c7c6b9facc5720da72615d6ceedbe54b97a2" alt="Первый слайд"></a>
                </div>
                  <div class="carousel-item ">
                    <a href="/shop/category/7/naushniki/">
                  <img class="d-block w-100" src="https://img.freepik.com/free-photo/woman-listening-to-music-in-double-color-exposure-effect_53876-104136.jpg?t=st=1658591282~exp=1658591882~hmac=56617251a27a256a99030a3a6c6692d6ede75f972da3c2b4fa5acf6c779fddf7&w=1380" alt="Второй слайд"></a>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="one"><h1 class = "title-page">Хиты продаж</h1></div>
            <div class="row product_list">
                {% for product in products %}
                <div class="col-lg-3 inf_p">
                    <div class="product-item">
                    <a class="text-decoration-none" href="{{product.get_absolute_url}}">
                    <div class="info_image_item info_item">
                        <img class ="block{{product.id}}" src="/media/{{product.get_image_main}}"  height="150" width="200">
                    </div>
                        <div class = "info_item_name">
                            <h4>{{ product.name }}</h4>
                        </div>
<!--                        <div class="info_item_description">-->
<!--                            {{product.description|truncatechars:30}}-->
<!--                        </div>-->
                        <div class = "info_item_price">
                            <span id = "product_price{{product.id}}">{{ product.price }}</span> руб.
                            {% csrf_token %}
                        </div>
                        <div class = "info_item_rating">
                            <div class="rating_p" data-total-value="{{product.get_avg_rating}}">
                                <div class="rating_item_p" data-item-value="5">★</div>
                                <div class="rating_item_p" data-item-value="4">★</div>
                                <div class="rating_item_p" data-item-value="3">★</div>
                                <div class="rating_item_p" data-item-value="2">★</div>
                                <div class="rating_item_p" data-item-value="1">★</div>
                            </div>
                            <div>
                                <span class="count_ratings">({{product.get_count_rating}})</span>
                            </div>
                        </div></a>
                        <div class ="info_item_btn">
                            {% if product.get_id in cart.cart %}
                                <a href="{% url 'cart_detail' %}" class="in_but">в корзине</a>
                            {% else %}
                                <button data-change="add" id="add_basket{{ product.id }}" class="change add_but add"
                                    data-product_id = "{{ product.id }}"
                                    data-name ="{{ product.name }}"
                                    data-price ="{{ product.price }}">Купить
                                </button>
                                <a href="{% url 'cart_detail' %}" id="in_basket{{ product.id }}" class="in_but add" hidden>в корзине</a>
                             {%endif%}
                            {% if user.is_authenticated %}
                                {% if product.id in fav_product%}
                                    <input type="button" value="&#10004;" class="favorite_but favorite_but_add"
                                           data-product_id = "{{ product.id }}"
                                           data-change_favorites="add">
                                {%else%}
                                    <input type="button" value="&#10084;" class="favorite_but favorite_but_add"
                                           data-product_id = "{{ product.id }}"
                                           data-change_favorites="add">
                                {%endif%}
                            {%else%}
                                    <a href="{% url 'account_login' %}" class="favorite_but_login">&#10084;</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
<!--            <div id="pagination">-->
<!--                    <span class="step-links">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                            <a class = "page-link" href="?page=1">Начало</a>-->
<!--                            <a class = "page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>-->
<!--                        {% endif %}-->

<!--                        <span class="current">-->
<!--                            стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.-->
<!--                        </span>-->

<!--                        {% if page_obj.has_next %}-->
<!--                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>-->
<!--                            <a class = "page-link" href="?page={{ page_obj.paginator.num_pages }}">Конец</a>-->
<!--                        {% endif %}-->
<!--                    </span>-->
<!--                </div>-->
    </div>
{% endblock %}