{% extends '_base.html' %}
{% load auth_extras %}
{% block title %}Информации{% endblock title %}
{% block content %}
    {% csrf_token %}
    <div>
        {% if not order.paid%}
        <p>Сумма к оплате{{sum_order}}</p>
        {%else%}
        <p>Оплачен</p>
        {%endif%}
        <form class="div_form" action="" method="post">{% csrf_token %}
            <h4>{{form}}</h4>
            <input type="submit" class="btn btn-dark btn_count" value="Оплатить">
        </form>
            <h1>{{error}}</h1>
    </div>
</head>
{% endblock content %}