
{% extends '_base.html' %}
{% load static %}
{%block title %}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class = "image-zoom" >
                    <img id = goods-max src="/media/{{product.get_image_main}}" class="img-responsive block{{product.id}}" height="450" width="400">
                    <div class="image-zoom-block"></div>
                </div>
                <div class = "goods-img-min">
                {% for image_item in product.productimage_set.all %}
                    <div class = img_min>
                        <img src="{{ image_item.image.url }}" class="img-responsive goods-min" height="100" width="150">
                    </div>
                {% endfor %}
                </div>
                 <div class="rating_p" data-total-value="{{product.get_avg_rating}}">
                            <div class="rating_item_p" data-item-value="5">★</div>
                            <div class="rating_item_p" data-item-value="4">★</div>
                            <div class="rating_item_p" data-item-value="3">★</div>
                            <div class="rating_item_p" data-item-value="2">★</div>
                            <div class="rating_item_p" data-item-value="1">★</div>
                     <h3 class="rating_stat">Рейтинг: {{product.get_avg_rating}}</h3>
                        </div>
                <input class = "hide_rew" id="click-to-hide-2" type="button" value="Показать отзывы">
            </div>
            <div class="col-lg-6 text-center">
                <h1>
                    {{ product.name }}
                </h1>
                <div>
                    <p>
                        <h4>Цена: <span id = "product_price{{product.id}}">{{ product.price }}</span> руб.</h4>
                    </p>
                </div>
                        <div>
                            <span>{{ product.description }}</span>
                        </div>

                <div>
                        {% csrf_token %}
                    <div class ="info_item_btn">
                        {% if product.get_id in cart.cart %}
                                <a href="{% url 'cart_detail' %}" class="in_but">в корзине</a>
                            {% else %}
                                <button data-change="add" id="add_basket{{ product.id }}" class="change add_but add"
                                    data-product_id = "{{ product.id }}"
                                    data-name ="{{ product.name }}"
                                    data-price ="{{ product.price }}">Купить
                                </button>
                                <a href="{% url 'cart_detail' %}" id="in_basket{{ product.id }}" class="in_but add" hidden>в корзине</a>
                             {%endif%}
                            {% if user.is_authenticated %}
                                {% if check_fav%}
                                    <input type="button" value="&#10004;" class="favorite_but favorite_but_add"
                                           data-product_id = "{{ product.id }}"
                                           data-change_favorites="add">
                                {%else%}
                                    <input type="button" value="&#10084;" class="favorite_but favorite_but_add"
                                           data-product_id = "{{ product.id }}"
                                           data-change_favorites="add">
                                {%endif%}
                            {%else%}
                                    <a href="{% url 'account_login' %}" class="favorite_but_login">&#10084;</a>
                            {%endif%}
                        <div class="product_rec">
                            <h5>Рекомендации к данному товары:</h5>
                            <button class="rec_hide" id="myBtn">Посмотреть</button>
                        </div>

                    </div>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-lg-6 comment hide-element wpcraft-box-2">
                <div class = "lst_rew news-list">
                    {% if product.get_review %}
                        {% for review in product.get_review %}
                            {% include 'review-item.html' %}
                        {% endfor %}
                    {%else%}
                        <h4>Пока нет отзывов</h4>
                    {%endif%}
                </div>

<!--                <div id="pagination">-->
<!--                    <span class="step-links">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                            <a class = "page-link" href="?page=1">Начало</a>-->
<!--                            <a class = "page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>-->
<!--                        {% endif %}-->
<!--                        <span class="current">-->
<!--                            стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.-->
<!--                        </span>-->

<!--                        {% if page_obj.has_next %}-->
<!--                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>-->
<!--                            <a class = "page-link" href="?page={{ page_obj.paginator.num_pages }}">Конец</a>-->
<!--                        {% endif %}-->
<!--                    </span>-->
<!--                </div>-->
            </div>

            <div class="col-lg-6 frm_rew">
                {% if user.is_authenticated %}
                    {% if rating_product %}
                        <h2>Изменить оценку</h2>
                            <div class="rating" data-total-value="{{rating_product}}" data-product_id="{{product.id}}">
                                <div class="rating_item" data-item-value="5">★</div>
                                <div class="rating_item" data-item-value="4">★</div>
                                <div class="rating_item" data-item-value="3">★</div>
                                <div class="rating_item" data-item-value="2">★</div>
                                <div class="rating_item" data-item-value="1">★</div>
                            </div>
                    {% else %}
                        <h2>Оцените товар</h2>
                            <div class="rating" data-total-value="{{rating_product}}" data-product_id="{{product.id}}">
                                <div class="rating_item" data-item-value="5">★</div>
                                <div class="rating_item" data-item-value="4">★</div>
                                <div class="rating_item" data-item-value="3">★</div>
                                <div class="rating_item" data-item-value="2">★</div>
                                <div class="rating_item" data-item-value="1">★</div>
                            </div>
                    {%endif%}
                    <h1 class="rating_y"></h1>
                        <h2>Оставить отзыв</h2>
                        <form id = "formReview" action="." method="post">
                            <input type="hidden" name="parent" id="contactparent" value="">
                            <input type="hidden" name="product_id"  value="{{ product.id }}">
                            {{ review_form.as_p }}
                            {% csrf_token %}
                            <p><input type="button" data-change="add" value="Добавить отзыв" class="change_rew add_rew" id="add_rew" data-product_id ="{{ product.id }}" data-review_id = "{{ review.id }}"></p>
                        </form>
                {%else%}
                    <div>
                        <p><input type="button" data-change="add" value="Добавить отзыв" class="change_rew add_rew"  data-product_id ="{{ product.id }}" data-review_id = "{{ review.id }}" hidden></p>
                        <h3>чтобы оставить отзыв или оценить товар нужно <a href="{% url 'account_login' %}">Войти</a> или <a href="{% url 'account_signup' %}">Зарегистрироваться</a></h3>
                     </div>
                {%endif%}
            </div>
        <!--<h1>Отзывы</h1>
        <div class="row">
            <div class="col-lg-4">
            {%for i in reviews %}
                <span>Автор:{{i.author}}</span>
                <p>сообщение: {{i.review}}</p>
            {%endfor%}
            </div>
        </div>-->

        </div>


        <!-- The Modal -->
        <div id="myModal" class="modal_rec">

        <!-- Modal content -->
            <div class="modal_rec-content">
                <span class="close">&times;</span>
                <div class="block_rec_title"><span class="rec_title">Рекомендации</span></div>
                <hr>
                <div class="recomend_body row">
                {%for rec in recommends%}
                    <div class="col-lg-3 recomend_product">
                        <a href="{{rec.url}}">
                             <img src="/media/{{rec.img}}"  height="100" width="150">
                            <h5>{{rec.name}}</h5>
                        </a>
                    </div>
                {%endfor%}
                </div>
            </div>

        </div>

<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--            <div class="recomend_product" style="display:none;">-->
<!--                    {%for i in accessories%}-->
<!--                    <div>-->
<!--                    <a href="{{i.url}}">-->
<!--                        {{i.name}}-->
<!--                    {%endfor%}-->
<!--                    </a>-->
<!--                     </div>-->
<!--                </div>-->
<!--                <button class="rec_hide">Рекомендации</button>-->
<!--            </div>-->
<!--        </div>-->
<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Большое модальное окно</button>-->
<!--     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <h5 class="modal-title" id="exampleModalLongTitle">Категории товаров</h5>-->
<!--            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--              <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--            <div class="row">-->
<!--                {%for i in accessories%}-->
<!--                <div class="col-lg-4 recomend_product">-->
<!--                    <a href="{{i.url}}">-->
<!--                        {{i.name}}-->
<!--                    </a>-->
<!--                </div>-->
<!--                {%endfor%}-->
<!--             </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

<!--        $(document).ready(function () {-->
<!--            window.news_index = "{% url 'product_detail' product.pk product.slug %}";-->

<!--            var page = 1;-->
<!--            var block_request = false;-->
<!--            var end_pagination = false;-->

<!--            $(window).scroll(function () {-->
<!--                var margin = $(document).height() - $(window).height() - 200;-->

<!--                if ($(window).scrollTop() > margin && end_pagination === false && block_request === false) {-->
<!--                    block_request = true;-->
<!--                    page += 1;-->

<!--                    $.ajax({-->
<!--                        type: 'GET',-->
<!--                        url: window.news_index,-->
<!--                        data: {-->
<!--                            "page": page-->
<!--                        },-->
<!--                        success: function (data) {-->
<!--                            if (data.end_pagination === true) {-->
<!--                                end_pagination = true;-->
<!--                            } else {-->
<!--                                block_request = false;-->
<!--                            }-->
<!--                            $('.news-list').append(data.content);-->
<!--                        }-->
<!--                    })-->
<!--                }-->
<!--            });-->
<!--        })-->


        var clickToHide2 = document.querySelector('#click-to-hide-2');
        clickToHide2.addEventListener("click", hideVisibleElem);

        //	/* Функция добавления / удаления класса, который скрывает элемент */
        function hideVisibleElem() {
        let wpcraftBox2 = document.querySelector('.wpcraft-box-2');
        wpcraftBox2.classList.toggle("hide-element");
        //
        //	/* В зависимости от наличия скрывающего класса меняем текст в кнопке */
        if (wpcraftBox2.classList.contains("hide-element")){
            clickToHide2.value = 'Показать отзывы';
        } else {
            clickToHide2.value = 'Скрыть отзывы';
        }
        }
        $(document).ready(function(){
            $('.fotki a').mouseover(function(){
                e.preventDefault();
                $('.image-zoom img').attr("src",$(this).attr("href"))
            })
            console.log('1111111111111')
        })
        document.body.onclick= function(event) {
            event = event || window.event;
            if (event.target.classList.contains('goods-min')) {
                document.getElementById('goods-max').src = event.target.src;
            }
        }
         function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("id_text").innerText = `${name}, `
        }
        var add_rew = document.querySelector('.add_rew');
        add_rew.onclick = function () {
            const postForm = document.querySelector("#formReview");
            formData = new FormData(postForm);
            fetch('http://127.0.0.1:8000/shop/data_review/', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    postForm.reset();
                    console.log(data)
                    var parent_rew = document.querySelector('.lst_rew')
                    var child_rew = document.createElement("div");
                    var child_rew_info = document.createElement("p");
                    var child_rew_text_com = document.createElement("p");
                    child_rew.classList.add('_rew')
                    child_rew_info.classList.add('info')
                    child_rew_text_com.classList.add('text_com')
                    child_rew_info.innerText = 'от ' + data.author + ' дата: ' + data.date
                    child_rew_text_com.innerText = 'отзыв ' + data.text
                    child_rew.appendChild(child_rew_info)
                    child_rew.appendChild(child_rew_text_com)
                    parent_rew.prepend(child_rew)
                })
<!--        //        .catch((error) => {-->
<!--        //            console.error('Error:', error);-->
<!--        //        });-->
            }
        var answer_buts = document.querySelectorAll('.hide_answer_rew');
        answer_buts.forEach((e) => {
            e.onclick = function() {
                console.log(e.dataset.review_id)
                let answer_rew = document.querySelector('.answer_com'+e.dataset.review_id)
                console.log(answer_rew)
                answer_rew.classList.toggle("hide-element");
                if (answer_rew.classList.contains("hide-element")){
                    e.value = 'Показать ответы';
                } else {
                    e.value = 'Скрыть ответы';
                }
            }
        })
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        var del_rew = document.querySelectorAll('.del_rew');
        del_rew.forEach((e) => {
            e.onclick = function() {
            data = {'rew_id':e.dataset.review_id,'product_id':e.dataset.product_id}
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch('http://127.0.0.1:8000/shop/del_review/', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                         'X-CSRFToken': csrftoken,
                         'Accept': 'text/html',
                         'Content-Type': 'application/json',
                     }})
                .then(response => console.log(response))
                .then(temp => {
                    console.log(data)
                    let rew = document.getElementById(data.rew_id)
                    console.log(rew)
                    rew.remove()
                })
            }
            })
    </script>
{% endblock %}