{% for product in products %}
<div class="inf_p">
        <div class="product-item">
        <a class="text-decoration-none" href="{{product.get_absolute_url}}">
        <div class="info_image_item info_item">
            <img src="/media/{{product.get_image_main}}"  height="100" width="150">
        </div>
            <div class = "info_item_name">
                <h4>{{ product.name }}</h4>
            </div>
            <div class = "info_item_price">
                <span id = "product_price{{product.id}}">{{ product.price }}</span> руб.
            </div></a>
            <div class ="info_item_btn">
                {% if product.get_id in cart.cart %}
                    <a href="{% url 'cart_detail' %}" class="btn btn-info ">в корзине</a>
                {% else %}
                    <button data-change="add" id="add_basket{{ product.id }}" class="change btn btn-success btn-buy add"
                        data-product_id = "{{ product.id }}"
                        data-name ="{{ product.name }}"
                        data-price ="{{ product.price }}">Купить
                    </button>
                    <a href="{% url 'cart_detail' %}" id="in_basket{{ product.id }}" class="btn btn-success btn-buy add " hidden>в корзине</a>
                 {%endif%}
            </div>
        </div>
<!--    <nav aria-label="Page navigation example">-->
<!--                    <ul class="mypagination">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                            <li><a href="?page=1">Начало</a></li>-->
<!--                            <li><a href="?page={{ page_obj.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>-->
<!--                            </svg></a></li>-->
<!--                        {% endif %}-->

<!--                        <h5 class="">-->
<!--                            стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.-->
<!--                        </h5>-->

<!--                        {% if page_obj.has_next %}-->
<!--                         <li><a href="?page={{ page_obj.next_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">-->
<!--                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>-->
<!--                </svg></a></li>-->
<!--                        <li><a href="?page={{ page_obj.paginator.num_pages }}">Конец</a></li>-->
<!--                        {% endif %}-->
<!--                    </ul>-->
<!--            </nav>-->
    </div>
{% endfor %}
