{% for product in products %}
<div class="inf_p">
        <div class="product-item">
        <a class="text-decoration-none" href="{{product.get_absolute_url}}">
        <div class="info_image_item info_item">
            <img src="/media/{{product.get_image_main}}"  height="100" width="150">
        </div>
            <div class = "info_item_name">
                <h4>{{ product.name }}</h4>
            </div>
            <div class = "info_item_price">
                <span id = "product_price{{product.id}}">{{ product.price }}</span> руб.
            </div></a>
            <div class ="info_item_btn">
                {% if product.get_id in cart.cart %}
                    <a href="{% url 'cart_detail' %}" class="btn btn-info ">в корзине</a>
                {% else %}
                    <button data-change="add" id="add_basket{{ product.id }}" class="change btn btn-success btn-buy add"
                        data-product_id = "{{ product.id }}"
                        data-name ="{{ product.name }}"
                        data-price ="{{ product.price }}">Купить
                    </button>
                    <a href="{% url 'cart_detail' %}" id="in_basket{{ product.id }}" class="btn btn-success btn-buy add " hidden>в корзине</a>
                 {%endif%}
            </div>
        </div>
    </div>
{% endfor %}
